.md-calendar-booking .mbsc-calendar-text {
    text-align: center;
}

.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
    flex: 1 1 0;
    min-width: 300px;
}

.md-calendar-booking .mbsc-timegrid-item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.md-calendar-booking .mbsc-timegrid-container {
    top: 30px;
}

.shadow-box-example {
    height: 120px;
    width: 100%;
    background-color: #64b5f6;
  }

  #example1 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
  }
  
.react-date-picker *{
    /* background-color: #EEEBDD; */

    /* color: green; */
}

.react-date-picker__inputGroup__divider{
    color: white;
}

.numberCircle {
    border-radius: 50%;
    color: #d6bfbf;
    text-align: center;
}

abbr[title], abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    text-decoration-skip-ink: none;
    color: black;
}

.react-date-picker__button svg {
    display: inherit;
    color: aliceblue;
    background-color: aliceblue;
}

.react-date-picker__inputGroup__input {
    color: aliceblue;
}